In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('tp-walmart').getOrCreate()

### Q2 : Load the Walmart Stock CSV File

In [3]:
df = spark.read.format("csv").option("header", "true").load("walmart_stock.csv")

### Q3 : What are the column names

In [4]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

### Q4 : What does the Schema look like

In [10]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

### Q5 : Create a new DataFrame with a column called HV_Ration

In [4]:
from pyspark.sql import functions as F
dt = df.withColumn('HV_Ratio', F.col('High')/F.col('Volume'))
dt.show(3)

+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|            HV_Ratio|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|4.669412994783916E-6|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
only showing top 3 rows

### Q6 : What day had the Peak High in Price

In [5]:
# transformation dataframe en table
dt.createOrReplaceTempView("dtSQL")

In [22]:
# en SQL
spark.sql("""SELECT Date FROM dtSQL ORDER BY High Desc""").first()

Row(Date='2015-01-13')

In [26]:
# en DSL
dt.select(F.col('Date')).orderBy(F.col('High').desc()).first()

Row(Date='2015-01-13')

### Q7 : What is the mean of the Close column

In [30]:
# en SQL
spark.sql("""SELECT MEAN(Close) AS Moyenne FROM dtSQL""").show()

+-----------------+
|          Moyenne|
+-----------------+
|72.38844998012726|
+-----------------+

In [31]:
# en DSL
dt.agg(F.mean('Close').alias('Moyenne')).show()

+-----------------+
|          Moyenne|
+-----------------+
|72.38844998012726|
+-----------------+

### Q8 : What is the max and the min of the Volume column

In [32]:
# en SQL
spark.sql("""SELECT Max(Volume) AS Maximum, Min(Volume) AS Minimum FROM dtSQL""").show()

+-------+--------+
|Maximum| Minimum|
+-------+--------+
|9994400|10010500|
+-------+--------+

In [34]:
# en DSL
dt.agg(F.max('Volume').alias('Maximum'), F.min('Volume').alias('Minimum')).show()

+-------+--------+
|Maximum| Minimum|
+-------+--------+
|9994400|10010500|
+-------+--------+

### Q9 : How many days was the Close lower than 60 dollars

In [36]:
# en SQL
spark.sql("""SELECT Count(Date) as Nombre FROM dtSQL WHERE Close<'60'""").show()

+------+
|Nombre|
+------+
|    81|
+------+

In [45]:
# en DSL
dt.filter(F.col("Close")<'60').count()

81

### Q10 : What percentage of the time was the High greater than 80 dollars

In [52]:
# en SQL
spark.sql("""SELECT Round(
          (SELECT Count(*) FROM dtSQL WHERE High>=80)/(count(*))*100, 2) AS Percentage FROM dtSQL""").show()

+----------+
|Percentage|
+----------+
|      9.14|
+----------+

In [60]:
# en DSL
tmp = dt.filter(F.col('High')>'80').agg(F.count("*").alias("Comptage")).collect()[0][0]
dt.agg(F.round((tmp/F.count("*")*100),2).alias("Pourcentage")).show()

+-----------+
|Pourcentage|
+-----------+
|       9.14|
+-----------+

### Q11 : What is the max High per year

In [12]:
# en SQL 
spark.sql("""SELECT Max(High) as Maximum, SUBSTR(Date, 1, 4) as Annee FROM dtSQL GROUP BY Annee ORDER BY Annee""").show()

+---------+-----+
|  Maximum|Annee|
+---------+-----+
|77.599998| 2012|
|81.370003| 2013|
|88.089996| 2014|
|90.970001| 2015|
|75.190002| 2016|
+---------+-----+

In [16]:
# en DSL
# nouvelle colonne qui contient l'année
dt = dt.withColumn("Annee", F.substring("Date", 1, 4))
# par année, maximum de prix correspondant
dt.groupby('Annee').agg(F.max('High').alias('Maximum')).orderBy("Annee").show()

+-----+---------+
|Annee|  Maximum|
+-----+---------+
| 2012|77.599998|
| 2013|81.370003|
| 2014|88.089996|
| 2015|90.970001|
| 2016|75.190002|
+-----+---------+

### Q12 : What is the average Close for each Calendar Month

In [9]:
### en SQL
spark.sql("""SELECT Mean(Close) AS Moyenne, SUBSTR(Date, 1, 4) as Annee, SUBSTR(Date, 6, 2) as Mois FROM dtSQL GROUP BY Annee, Mois ORDER BY Annee, Mois""").show()

+------------------+-----+----+
|           Moyenne|Annee|Mois|
+------------------+-----+----+
|        60.2354999| 2012|  01|
|            60.898| 2012|  02|
|60.433636818181796| 2012|  03|
|60.149000150000006| 2012|  04|
|61.456363409090905| 2012|  05|
| 67.50380961904762| 2012|  06|
| 72.40666661904763| 2012|  07|
| 73.04478265217392| 2012|  08|
| 74.18157921052631| 2012|  09|
| 75.30619061904761| 2012|  10|
| 71.10952333333333| 2012|  11|
| 69.71100009999999| 2012|  12|
| 69.09476142857143| 2013|  01|
| 70.62315857894738| 2013|  02|
| 73.43649940000002| 2013|  03|
| 77.68954572727273| 2013|  04|
| 77.81636368181817| 2013|  05|
| 74.97800020000001| 2013|  06|
| 77.11545418181818| 2013|  07|
| 75.22409204545455| 2013|  08|
+------------------+-----+----+
only showing top 20 rows

In [15]:
# en DSL
# nouvelle colonne qui contient le mois
dt = dt.withColumn("Mois", F.substring("Date", 6, 2))
# par année et par mois, moyenne de Close 
dt.groupby("Annee", "Mois").agg(F.mean('Close').alias("Moyenne")).orderBy("Annee", "Mois").show()

+-----+----+------------------+
|Annee|Mois|           Moyenne|
+-----+----+------------------+
| 2012|  01|        60.2354999|
| 2012|  02|            60.898|
| 2012|  03|60.433636818181796|
| 2012|  04|60.149000150000006|
| 2012|  05|61.456363409090905|
| 2012|  06| 67.50380961904762|
| 2012|  07| 72.40666661904763|
| 2012|  08| 73.04478265217392|
| 2012|  09| 74.18157921052631|
| 2012|  10| 75.30619061904761|
| 2012|  11| 71.10952333333333|
| 2012|  12| 69.71100009999999|
| 2013|  01| 69.09476142857143|
| 2013|  02| 70.62315857894738|
| 2013|  03| 73.43649940000002|
| 2013|  04| 77.68954572727273|
| 2013|  05| 77.81636368181817|
| 2013|  06| 74.97800020000001|
| 2013|  07| 77.11545418181818|
| 2013|  08| 75.22409204545455|
+-----+----+------------------+
only showing top 20 rows

In [2]:
spark.stop()